
body {
  background-image: url(http://share.cameronmcefee.com/nasa_17875A29.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h1 {
  font-size: 2.75em;
  padding-top: 3px;
}

h3, input, button {
  font-size: 1.75em;
}

// button {
//   background-color: lightgreen;
//   padding: 6px;
//   border-radius: 6px;
// }

.container {
  font-family: sans-serif;
  padding-left: 5%;
}


#lookup {
  padding-left: 5%;
}
